.video__container {
  max-width: 1184px;
  margin: 60px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 18px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .video__container {
    margin-top: 64px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video__container {
    margin-top: 46px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .video__container {
    margin-top: 27px;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

@media screen and (max-width: 374px) {
  .video__container {
    margin-top: 30px;
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}
