.header__lang {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 0.958;
  color: #FFFFFF;
  margin: 0 18px 8px 0;
  text-decoration: none;
  align-self: flex-end;
}

.header__lang:last-child {
  margin-right: 0;
}

.header__lang:hover {
  opacity: .7;
  transition: .1s linear;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .header__lang {
    font-size: 1.125em;
    line-height: 1;
    margin: 0 16px 6px 0;
  }
}

@media screen and (max-width: 374px) {
  .header__lang {
    font-size: 1.125em;
    line-height: 1;
    margin: 0 16px 6px 0;
  }
}
