@import url('./__links/footer__links.css');
@import url('./__list/footer__list.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 374px) {
  .footer {
    flex-direction: column;
  }
}
