.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.667;
  color: #FFFFFF;
  display: block;
}

.place__url:hover {
  opacity: .7;
  transition: .1s linear;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__url {
    margin-top: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__url {
    margin-top: 11px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .place__url {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  .place__url {
    display: none;
  }
}
